
.head, .foo,.body, .main-container{
    margin: 3px;
    padding: 10px;
} 

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto 25px auto 100px;
    grid-template-rows: 100px 35px auto 200px;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.foo, .head, .body {
    grid-column-start: 1;
    grid-column-end: 6;
}

.head {
    grid-row: 1;
    padding: 10px;
    padding-left: 100px;
}

.body {
    grid-row: 3;
    display: grid;
    grid-template-columns: 100px 30% 15px auto 100px;
    grid-template-rows: auto auto;
}
.foo {
    grid-row: 4;
}

.text-registro {
    grid-column: 2;
    grid-row: 1;
}

.text-lista {
    grid-column: 4;
    grid-row: 1;
}

.container-registro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.container-lista {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.content {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: min-content;
    margin: 5px;
}

.content-user {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 140px;
    margin: 5px;
}

.content-user p {
    margin: 0px;
    padding: 0px;
}

.img-user {
    grid-column: 1;
    padding: 5px;
    width: auto;
    height: 140px;

}

.detalle-user {
    grid-column: 2;
    padding: 10px;
}

.opcines-user {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 4px;

}

.formRegistro {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    height: min-content;
}

.input {
    margin: 10px;
}

.rut {
    grid-row: 1;
}

.nombre {
    grid-row: 2;
}

.apellido {
    grid-row: 3;
}

.textlogin {
    grid-row: 4;
}

.usuario {
    grid-row: 5;
}

.clave {
    grid-row: 6;
}



/* Estilos Menu Lateral */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}